# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
ARM64/
[Ww]in32/
AppPackages/
BundleArtifacts/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# Rider / VS Code
.idea/
.vscode/

# OS files
Thumbs.db
.DS_Store

# Logs / crash dumps
*.log
*.dmp

# Publish output
publish/
